@font-face {
    font-family: 'LibreBaskerville';
    src: url(assets/font/LibreBaskerville-Bold.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url(assets/font/LibreBaskerville-Regular.ttf);
    font-weight: 100;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'LibreBaskerville';
}

.header {
    background-color: #90efff;
    text-align: center;
}

.section-title {
    text-align: center;
}

.photo {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.footer {
    background-color: #90efff;
}

.container {
    max-width: 1440px;
    
}

.main-container {
    display: flex;
    padding: 0;    
}

@media (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }
    .nav-list {
        flex-wrap: wrap;
    }
}

.aside {
    min-width: 400px;
    background-color: #fff990;
}

.about-section {
    background-color: #7b68ee;
}

.foot-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: .5s, color 0.5s;
}

.nav-link:hover {
    color: #7b68ee;
    border: 2px solid #7b68ee;
    border-radius: 20px;
    box-shadow: inset 1px 1px 1px 1px;
}

p {
    font-weight: 100;
}
.link {
    transition: .3s;
}

.link:hover {
    cursor: pointer;
    background: gold;
}

.pic {
    transition: .3s;
}

.pic:hover {
    background: gold;
    border-radius: 10px;
}

.profile-list {
    
    padding: 0;
    list-style: none;
    font-size: larger;
}

.list {
    list-style: none;
    margin: 0 auto;
    font-weight: 100;
}

.logo {
    width: 150px;
    height: 80px;
    background: #90efff;
    transition: 1s, color 1s;
}

.logo:hover {
    cursor: pointer;
    border: 10px ridge #90efff;
}

.profile-section {
    text-align: center;
}

#about {
    padding: 0 40px;
}

#english {
    padding: 0 40px;
}
